@font-face {
    font-family: 'Geometria bold';
    src: url('geometria-bold.ttf');
}
@font-face {
    font-family: 'Geometria bolditalic';
    src: url('geometria-bolditalic.ttf');
}
@font-face {
    font-family: 'Geometria extrabold';
    src: url('geometria-extrabold.ttf');
}
@font-face {
    font-family: 'Geometria extrabolditalic';
    src: url('geometria-extrabolditalic.ttf');
}
@font-face {
    font-family: 'Geometria extralight';
    src: url('geometria-extralight.ttf');
}
@font-face {
    font-family: 'Geometria extralightitalic';
    src: url('geometria-extralightitalic.ttf');
}
@font-face {
    font-family: 'Geometria heavy';
    src: url('geometria-heavy.ttf');
}
@font-face {
    font-family: 'Geometria heavyitalic';
    src: url('geometria-heavyitalic.ttf');
}
@font-face {
    font-family: 'Geometria italic';
    src: url('geometria-italic.ttf');
}
@font-face {
    font-family: 'Geometria light';
    src: url('geometria-light.ttf');
}
@font-face {
    font-family: 'Geometria lightitalic';
    src: url('geometria-lightitalic.ttf');
}
@font-face {
    font-family: 'Geometria medium';
    src: url('geometria-medium.ttf');
}
@font-face {
    font-family: 'Geometria mediumitalic';
    src: url('geometria-mediumitalic.ttf');
}
@font-face {
    font-family: 'Geometria thin';
    src: url('geometria-thin.ttf');
}
@font-face {
    font-family: 'Geometria thinitalick';
    src: url('geometria-thinitalic.ttf');
}